{% extends "base.html" %}

{% block content %}

<div class="row welcome text-center">
	<div class="span12">
		<p class="lead">Witaj świecie!</p>
	</div>
</div>

<hr />
<div class="row">
	<div class="span12 text-center">
		<h2>W tej chwili w Hackerspace {{ znaj_str }} się <div id="count">{{ users }}</div> {{ osob_str }}.</h2>
	</div>
</div>

{% if names %}
<hr />
<h2>
<div class="names text-center">
{{ names }}
</div>
{% endif %}

<hr />
<div class="row">
	<div class="span1 text-center">
	</div>
	<div class="span2 text-center">
		<img src="static/switch_{{ HARDROOM }}.png" alt="" />
		<h2>Hardroom</h2>
		<img src="static/hardroom.jpeg" alt="" />
	</div>
	<div class="span2 text-center">
		<img src="static/switch_{{ SOFTROOM }}.png" alt="" />
		<h2>Softroom</h2>
		<img src="static/softroom.jpeg" alt="" />
	</div>
	<div class="span2 text-center">
		<img src="static/switch_{{ CORRIDOR }}.png" alt="" />
		<h2>Korytarz</h2>
		<img src="static/korytarz.jpeg" alt="" />
	</div>
	<div class="span2 text-center">
		<img src="static/switch_{{ KITCHEN }}.png" alt="" />
		<h2>Kuchnia</h2>
		<img src="static/kuchnia.jpeg" alt="" />
	</div>
	<div class="span2 text-center">
		<img src="static/switch_{{ CHILLROOM }}.png" alt="" />
		<h2>Chillroom</h2>
		<img src="static/chillroom.jpeg" alt="" />
	</div>
	<div class="span1 text-center">
	</div>
</div>

{% endblock %}
